<app-header></app-header>
 <!-- main-area -->
 <main>
<!-- breadcrumb-area -->
<section class="breadcrumb-area breadcrumb-bg" data-background="./assets/img/banner/banner_bg01.jpg" style="background-image: url('./assets/img/banner/banner_bg01.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2 class="title">Payment Subscription</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="./movflx/index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Subscription</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- breadcrumb-area-end -->

 <!-- Subscription-area -->

 <section class="form-section" data-background="./assets/img/banner/banner_bg01.jpg" style="background-image: url('./assets/img/banner/banner_bg01.jpg');">
  <img src="./assets/img/payment_sucessful.jpg">
</section>

<!-- Subscription-area-end -->
</main>
<app-footer></app-footer>
