<app-header></app-header>
 <!-- main-area -->
 <main>
<!-- breadcrumb-area -->
    <section class="breadcrumb-area breadcrumb-bg" data-background="./assets/img/banner/banner_bg01.jpg" style="background-image: url('./assets/img/banner/banner_bg01.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2 class="title">Subcription</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="./movflx/index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Subscription</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- breadcrumb-area-end -->
 <!-- Subscription-area -->
 <section data-background="./assets/img/banner/banner_bg01.jpg" style="background-image: url('./assets/img/banner/banner_bg01.jpg');">
    <div class="form-container">
        <form method="post"  #f="ngForm" name="form" (ngSubmit)="subscriptionDetails(userData)">
            <label for="name">Email:</label>
            <input type="email" id="email" [(ngModel)]="userData.email" name="email"  #email="ngModel" maxlength="15" required>
            <label for="email">Phone Number:</label>
            <input type="number" id="phonenumber" name="phonenumber" [(ngModel)]="userData.phonenumber" maxlength="15" #phonenumber="ngModel" required>
            <button type="submit">Subscribe</button>
        </form>
    </div>
</section>
<!-- Subscription-area-end -->
</main>
<app-footer></app-footer>